* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(163, 163, 163);
    width: 100%;
    height: 50%;
}


.ladolado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.d1,.d2 {
    padding: 10px;
    background-color: #ccc;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

.direita h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
    margin-left: 220px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.direita p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 420px;
}

.subtitulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.form-control {
    height: 40px;
    width: 80px;
}

.table-container {
    text-align: center;
}

#tabela {
    width: 100%; /* Use 100% para ocupar a largura total do container */
    max-width: 500px; /* Define uma largura máxima para evitar que a tabela fique muito larga */
    margin: 0 auto;
}

footer {
    background: #000;
    margin-top: 50px;
}

footer p {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Media queries para tornar o site responsivo */

/* Quando a largura da tela for menor que 768px */
@media (max-width: 768px) {
    .direita h1 {
        margin-left: 20px; /* Reduza a margem esquerda */
        text-align: center; /* Centralize o texto */
    }

    .direita p {
        margin-left: 20px; /* Reduza a margem esquerda */
        text-align: center; /* Centralize o texto */
    }

    .ladolado {
        flex-direction: column; /* Empilhe os elementos verticalmente */
    }
}

#nav a{
  text-decoration: none;
  color: white;
}
.exp{
    text-align: center;
    border: 1px solid #000; /* Define uma borda preta de 1 pixel */
  padding: 10px; /* Adiciona espaçamento interno de 10 pixels */
  background-color: #f0f0f0; /* Define uma cor de fundo */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}